SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-jwt
DATABASE_URL=postgresql://postgres:PASSWORD@db.xxxxx.supabase.co:5432/postgres?sslmode=require
FRONTEND_URL=http://localhost:5173
RESERVE_ON_DEPOSIT=true
